@import "src/styles.scss";

.heading {
  height: calc(100vh - 100px);
  margin-top: 100px;

  .text {
    margin-top: 10vw;
    margin-left: 6vw;
    margin-right: 6vw;
    width: fit-content;

    * { display: block }

    .name { color: var(--lightest-slate); }
    .title { color: var(--slate); }
    .name, .title {
      font-family: -apple-system, system-ui, sans-serif;
      font-weight: 600;
    }

    .about {
      color: var(--slate);
      text-align: justify;
      margin-top: 15px;
    }

    .go-down {
      text-decoration: none;
      i { font-size: 64px; }
    }
  }
}

@media (max-width: $breakpoint)  {
  .name, .title { font-size: 8vw; }
  .about { width: 100%; }
}

@media (min-width: $breakpoint)  {
  .name, .title { font-size: 64px; }
  .about { width: 60vw; }
}
