@import "src/styles.scss";

.bar {
  width: 100vw;
  height: 70px;
  background: var(--navy);
  box-shadow: 0px 15px 10px -15px #111;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 350ms ease-in-out;

  .avatar {
    height: inherit;
    margin: auto;
    float: left;
  }

  nav {
    height: inherit;
    background: unset!important;
    margin-right: 0!important;

    button {
      color: white;
      position: absolute;
      right: 0;
      &:focus { outline: none!important; box-shadow: none; }
    }

    ul {
      margin-left: auto;
      margin-right: 0;

      .nav-item {
        margin-right: 10px;
        transition: 500ms ease-out;

        &:hover {
          background: white;
          a { color: #0a192f!important; }
        }
      }

      #dl {
        border-radius: 50px;
      }
    }


  }

}

@media (max-width: $breakpoint) {
  nav ul {
    background: #0a192f;
    border: 2px solid white;
    padding: 5px;
    margin-top: 60px;
    margin-right: 0;
    width: 170px;
    li {
      margin-right: 0!important;
      padding-right: 7px;
      a {
        width: fit-content;
        margin-right: 5px;
        margin-left: auto;
      }
    }
  }
}
