<div class="bar" id="navbar" ngxHideOnScroll
     [propertyUsedToHide]="'transform'"
     [valueWhenHidden]="'translateY(-100%)'"
     [valueWhenShown]="'translateY(0%)'">
  <img class="avatar" src="../../../../assets/img/avatar.png" alt="avatar"/>

  <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()" (blur)="collapse.toggle()">
      <i class="bi bi-list"></i>
    </button>
    <ngx-navbar-collapse class="nav-items" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
        <li class="nav-item">
          <a class="nav-link code accent" href="#heading">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#experience">Expérience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#degrees">Diplômes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#projects">Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#contact">Contact</a>
        </li>
        <li class="nav-item" id="dl" data-toggle="tooltip" data-placement="bottom" title="Télécharger mon CV">
          <a class="nav-link code accent" href="assets/files/CV-Massil-Taguemout.pdf">
            <i class="bi bi-cloud-arrow-down-fill"></i>
          </a>
        </li>
      </ul>
    </ngx-navbar-collapse>
  </nav>


</div>
