<div class="bar" id="navbar">
  <img class="avatar" src="../../../../assets/img/avatar.png" alt="avatar"/>

  <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
      <i class="bi bi-list"></i>
    </button>
    <ngx-navbar-collapse class="nav-items" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link code accent" href="#" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            À propos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#experience" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            Expérience
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#degrees" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            Diplômes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#projects" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            Projets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link code accent" href="#contact" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            Contact
          </a>
        </li>
        <li class="nav-item" id="dl" data-toggle="tooltip" data-placement="bottom" title="Télécharger mon CV">
          <a class="nav-link code accent" href="assets/files/CV-Massil-Taguemout.pdf" (click)="!collapse.isCollapsed ? collapse.toggle() : undefined">
            <i class="bi bi-cloud-arrow-down-fill"></i>
          </a>
        </li>
      </ul>
    </ngx-navbar-collapse>
  </nav>


</div>
