@import "src/styles.scss";

.title {
  font-size: 24px;
  display: block;
  margin: auto 10vw;

  .number {
    font-size: 18px;
  }

  &-text {
    font-weight: 600;
  }

  .line {
    display: inline-block;
    height: 1px;
    background-color: var(--lightest-navy);
    width: 30vw;
    margin-bottom: 6px;
    margin-left: 12px;
  }

}


@media (min-width: $breakpoint) {
  .title { width: 80%; }
}

@media (max-width: $breakpoint) {
  .title {
    width: 94vw;
    margin-left: 6vw;
  }
}

