<div class="experience">

    <app-title id="title01" [number]="'01'" [title]="'Expérience'"></app-title>

    <div class="container">

        <div class="main-timeline">

            <ng-container *ngFor="let w of work.history">

                <div class="step">
                    <div class="dot"></div>
                    <div class="info">
                        <h3 class="calibre">{{ w.title }}</h3>
                        <p class="employer">{{ w.employer }}</p>
                        <p class="date">{{ w.date }}</p>
                        <p class="description" [innerHTML]="w.description"></p>

                        <ng-container *ngIf="w.activities?.length">
                            <p class="description">Activités menées :</p>
                            <ul class="activities">
                                <li *ngFor="let a of w.activities">{{ a }}</li>
                            </ul>
                        </ng-container>

                        <div class="skills" *ngIf="w.stack?.length">
                            <span class="skill code" *ngFor="let s of w.stack">{{ s }}</span>
                        </div>
                    </div>
                </div>

                <!-- Missions rattachées à l'employeur, sur la même ligne -->
                <div class="step sub-step" *ngFor="let m of w.steps">
                    <div class="dot"></div>
                    <div class="info">
                        <h4 class="calibre">{{ m.title }}</h4>
                        <p class="employer">{{ m.employer }}</p>
                        <p class="date">{{ m.date }}</p>
                        <p class="description" [innerHTML]="m.description"></p>

                        <ng-container *ngIf="m.activities?.length">
                            <p class="description">Activités menées :</p>
                            <ul class="activities">
                                <li *ngFor="let a of m.activities"><span [innerHTML]="a"></span></li>
                            </ul>
                        </ng-container>

                        <div class="skills" *ngIf="m.stack?.length">
                            <span class="skill code" *ngFor="let s of m.stack">{{ s }}</span>
                        </div>
                    </div>
                </div>

            </ng-container>

        </div>
    </div>
</div>
